<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <title>reformulando a extensão C</title>
</head>

<body>
    <header>
        <nav>
            <div class="logo"><img></div>

            <div class="menu-btn">
                <i class="fa fa-bars fa-2x" onclick="menuShow()"></i>
            </div>

            <ul>
                <li> <a href="../index.html" class="active"> Home </a> </li>
                <li> <a href="#"> Sobre extensao A</a> </li>
                <li> <a href="extensao B.html"> extensao B</a> </li>
                
            </ul>
        </nav>
    </header>
    <main>
        <section class="banner">
            <img src="../assets/img/lider comunitario.jpg" alt="banner" width="100%">
        </section>
        <h2 id="saude">DIREITO À SAÚDE_ TUDO QUE VOCÊ PRECISA SABER</h2>
        <section class="videos">
            <video width="800" controls>
            <source src="../assets/videos/DIREITO À SAÚDE_ TUDO QUE VOCÊ PRECISA SABER EM ATÉ 3 MINUTOS.mp4" type="video/mp4">
          </video>
        </section>
        <h2 id="saniamento">O QUE É SANEAMENTO BÁSICO</h2>
        <section class="videos">
            <video width="800" controls>
            <source src="../assets/videos/O QUE É SANEAMENTO BÁSICO_.mp4" type="video/mp4">
          </video>
        </section>
        <h2 id="segurança">SEGURANÇA PÚBLICA_ TUDO QUE VOCÊ PRECISA SABER</h2>
        <section class="videos">
            <video width="800" controls>
            <source src="../assets/videos/SEGURANÇA PÚBLICA_ TUDO QUE VOCÊ PRECISA SABER EM ATÉ 3 MINUTOS.mp4" type="video/mp4">
          </video>
        </section>
        <h2 id="fundiario">Você sabe o que é Regularização Fundiária</h2>
        <section class="videos">
            <video width="800" controls>
            <source src="../assets/videos/Você sabe o que é Regularização Fundiária_.mp4" type="video/mp4">
          </video>
        </section>
        
    </main>
    <footer>
        <div class="container-footer">
            <div class="row-footer">
                <!-- footer col-->
                <div class="footer-col">
                    <h4>Empresa</h4>
                    <ul>
                        <li><a href="#"> Quem somos </a></li>
                        <li><a href=""> nossos serviços </a></li>
                        <li><a href=""> política de privacidade </a></li>
                        <li><a href=""> programa de afiliados</a></li>
                    </ul>
                </div>
                <!--end footer col-->
                <!-- footer col-->
                <div class="footer-col">
                    <h4>Obter ajuda</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Transporte</a></li>
                        <li><a href="#">devoluções</a></li>
                        <li><a href="#">Status De Pedido</a></li>
                        <li><a href="#">Opções De Pagamento</a></li>
                    </ul>
                </div>
                <!--end footer col-->
                <!-- footer col-->
                <div class="footer-col">
                    <h4>Loja online</h4>
                    <ul>
                        <li><a href="#">Relógio</a></li>
                        <li><a href="#">Saco</a></li>
                        <li><a href="#">Calçado</a></li>
                        <li><a href="#">Endereço</a></li>
                    </ul>
                </div>
                <!--end footer col-->
                <!-- footer col-->
                <div class="footer-col">
                    <h4>Se subescreva!</h4>
                    <div class="form-sub">
                        <form>
                            <input type="email" placeholder="Digite o seu e-mail" required>
                            <button>subscrever</button>
                        </form>
                    </div>

                    <div class="medias-socias">
                        <a href="#"> <i class="fa fa-facebook"></i> </a>
                        <a href="#"> <i class="fa fa-instagram"></i> </a>
                        <a href="#"> <i class="fa fa-twitter"></i> </a>
                        <a href="#"> <i class="fa fa-linkedin"></i> </a>
                    </div>

                </div>
                <!--end footer col-->
            </div>
        </div>
    </footer>
    <script src="../assets/js/main.js"></script>
</body>

</html>